// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page-style {
  background-color: darken($color: #f5ecec, $amount: 0);
}

.div-header {
  font: 100% sans-serif;
  margin-left: 480px;
}

.div-cnae {
  font: 100% sans-serif;
  margin-top: 6%;
  margin-left: 440px;
}

.p-info {
  margin-left: -70px;
}

.div-search {
  margin-top: 100px;
  margin-left: 925px;
}

a.nounderline:link {
  text-decoration: none;
}

#demo-table {
  width: 90%;
  margin-top: 35px;
  margin-left: 5%;
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: 0.2em solid #4ca;
  margin-bottom: 0.5em;
}

/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: center;
  padding-right: 0.5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: 0.5em;
}

/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding: 0.5em 0.5em 0.5em 3em;
}

#demo-table tbody th:after {
  content: ":";
}

/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: 0.2em solid #7a7;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  margin-left: 63px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
